name: CapyPDF CI
run-name: ${{ github.actor }} unit tests for CapyPDF
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  CapyPDF-tests:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:noble
    steps:
      - run:  apt-get -y update && apt-get -y upgrade && apt-get -y install git python3 python3-setuptools python3-pillow build-essential pkg-config ghostscript ninja-build libtiff-dev libjpeg-dev libpng-dev zlib1g-dev libfreetype-dev liblcms2-dev fonts-noto-core
      - uses: actions/checkout@v4
      - run:  git clone --depth=1 https://github.com/mesonbuild/meson mesoncheckout
      - name: Configure
        run: mesoncheckout/meson.py setup --buildtype=debugoptimized -Db_pch=false builddir
      - name: Build
        run: ninja -C builddir
      - name: Test
        run: ninja -C builddir test
